<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="canonical" href="https://brettklamer.com{{ .RelPermalink }}">
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}">
    <link rel="shortcut icon" href="{{ "/img/favicon.png" | relURL }}">
    {{ if .Description }}<meta name="description" content="{{ .Description }}">{{ end }}
    {{ if .Params.oltoggle }}<script defer src={{ "/js/oltoggle.js" | relURL }}></script>{{ end }}
    {{ if .Params.mathjax }}<script async src={{ "/js/mathjax.js" | relURL }}></script>
    <script async id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>{{ end }}
  </head>

  <body>
    <header>
      <div class="title">{{ .Site.Title }}</div>
      <nav>
        <ul>
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          {{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
          {{ $active = or $active (eq .Name $currentPage.Title) }}
            <li class="{{ if $active }}active{{ end }}"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
    </header>
