<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 Page not found | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="shortcut icon" href="{{ "/img/favicon.png" | relURL }}">
  </head>
  <body>
    <header>
      <div class="title">{{ .Site.Title }}</div>
      <nav>
        <ul>
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
            <li class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
    </header>
    <p style="text-align: center;">
      404 NOT FOUND
    </p>
  </body>
</html>
