{{ partial "header.html" . }}

  <main>
    <!-- {{ .Content }} won't render correctly. bug? because section=taxonomy? Here's a temporary fix. -->
    <h1 id="diversions">Diversions</h1>
    <!-- Extract the section name ("diversion", "statistical", "non-statistical") -->
    <!-- Need to use .RelPermalink since .CurrentSection doesn't work after converting taxonomies = diversions in config -->
    <!-- But this has other useful side-effects, so its the best route to go. -->
    {{ $elements := index (split .RelPermalink "/") }}
    {{ $section := index $elements (sub (len $elements) 2) }}
    <!-- Define list for each section -->
    {{ if eq $section "diversions"}}
      {{ range .Site.Taxonomies.diversions.Alphabetical.Reverse }}
        <h2 class="diversions"> {{ title .Name }} </h2>
        <table class="diversions">
          {{ range .Pages }}
            <tr><td>{{ .Date.Format "2006-01" }}</td> <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td></tr>
          {{ end }}
        </table>
      {{ end }}
    {{ end }}
    {{ if eq $section "statistical"}}
      <h2 class="diversions"> Statistical </h2>
      <table class="diversions">
        {{ range (index .Site.Taxonomies.diversions "statistical") }}
          <tr><td>{{ .Date.Format "2006-01" }}</td> <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td></tr>
        {{ end }}
      </table>
    {{ end }}
    {{ if eq $section "non-statistical"}}
      <h2 class="diversions"> Non-Statistical </h2>
      <table class="diversions">
        {{ range (index .Site.Taxonomies.diversions "non-statistical") }}
          <tr><td>{{ .Date.Format "2006-01" }}</td> <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td></tr>
        {{ end }}
      </table>
    {{ end }}
  </main>

{{ partial "footer.html" . }}
