{{ partial "header.html" . }}

  <main>
    {{ .Content }}
    <div style="float:right;font-size:0.75em;margin-bottom:1em;margin-top:1em;">
      Published: {{dateFormat "2006-01-02" .Date}}{{ if gt .Lastmod .Date }}<br>
      Last Updated: {{dateFormat "2006-01-02" .Lastmod}}{{ end }}
    </div>
  </main>

{{ partial "footer.html" . }}
